@charset "UTF-8";
/* CSS Document */

*  {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f7f7f7;
}

#header, #header-user {
	width: 100%;
	min-width: 960px;
	height: 50px;
	max-height: 50px;
	background: #FFFFFF;
	border-bottom: thin solid #ededed;
	overflow: hidden;
}

#header-user {
	height: 180px;
	max-height: 180px;
} 

#header-content {
	position: relative;
	width: 960px;
	margin: 0 auto 0 auto;
}

/* Nadpisy */
h1 {
	max-height: 50px;
	height: 50px;
	line-height: 50px;
	position: relative;
	font-size: 20px;
}

/*
h1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: ;
	height: 70px;
	background: transparent url('.....') top left no-repeat;
}
*/

#navigation-div {
	width: 100%;
	border-top: thin solid #f7f7f7;
}

#navigation {
	width: 964px;
	margin: 0 auto 0 auto;
	font-size: 0;
}

#navigation li {
	list-style: none;
	font-size: medium;
	display: inline;
}

#navigation li a {
	width: 192px;
	display: inline-block;
	color: #b3b3b3;
	text-align: center;
	text-decoration: none;
	padding: 24px 0 24px 0;
}

#navigation li a img {
	margin-bottom: 10px;
}

#navigation li:hover a {
	color: #313131;
}

/* Subnavigation */
.subnavigation {
	margin: 25px 0 0 0;
	text-align: right;
}

.subnavigation li {
	list-style: none;
	margin: 0 10px 15px 0;
}

.subnavigation li a, .testControllers {
	background-color: #27a0f5;
	border: thin solid #0d85d9;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px;
	padding: 6px 10px 6px 10px;
	color: #FFFFFF; 
	font-size: 12px; 
	text-decoration: none;
	font-weight: normal;
}

.subnavigation li a:hover {
	background-color: #0d85d9;
}

.subnavigation li a.selected {
    background-color: #1672fd;
}

.functions li a, .testControllers {
	background-color: #ff5635;
	border: thin solid #d93e1f;
}

.functions li a:hover, .testControllers {
	background-color: #d93e1f;
}

/* Main div */
#main {
	width: 960px;
	margin: 0 auto 0 auto;
	background: transparent url('../images/design/line-color.png') 192px top repeat-y;
	overflow: visible;
	height: auto;
	min-height: 130px;
}

/**
custom styles
*/
.clear{
    clear: both;
}

#invite-form {
	width: 640px;
	margin: 0 auto 0 auto;
	padding: 30px; /*40px 30px 40px;*/
	background-color: #FFFFFF;
	border: thin #DDD solid;
}

h2 {
	color: #313131;
	padding: 0;
	margin: 0;
	line-height: 50px;
	font-size: 22px;
	font-weight: normal;
	text-indent: 25px;
}

p, form label {
	margin: 10px 0 10px 0;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}

p strong {
	color: #313131;
}

form label {
	text-transform: uppercase;
}

#Invitations_email, #LoginForm_username, #LoginForm_password, #Users_full_name, #Users_email, #Users_username, #Users_new_password, #Users_new_password2, #name {
	background-color: #FFFFFF;
	border: thin #cecece solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 9px;
	width: 200px;
	margin-top: 10px;
}

.submit input {
	margin: 20px 0 0 0;
}

.form, .comment {
	padding: 30px;
	background-color: #FFFFFF;
	border: thin #DDD solid;
	margin: 25px 0 25px 25px;
}

#info {
	width: auto;
	float: right;
}

.login {
	width: 250px;
	display: inline-block;
	float: left;
}

.note, .errorMessage {
	font-size: small;
}

#footer {
	width: 100%;
    padding: 10px 0;
    font-size: 75%;
    text-align: center;
    border-top: thin solid #ededed;
}

#logout {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 50px;
}

#logout a {
	font-size: 12px;
	font-weight: bold;
	color: #b3b3b3;
	border: thin solid #ebebeb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 6px 10px 6px 10px;
	text-decoration: none;
}

#logout .name {
	color: #ff5939;
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

a:hover .underline {
	text-decoration: none;
	color: #313131;
}

.comment {
    padding: 0;
}
.commentHead {
  padding-left: 10px;
  background-color: silver;
}

.commentBody {
    padding: 10px;
}

.form textarea{
    width: 100%;
}

.ui-dialog .ui-dialog-titlebar{
    padding: 0 !important;
}


/**
test/update
*/
#tasksTable{
    width: 100%;
	/*background-color: #FF0000;*/
	margin: 0;
	padding: 0;
	border: none !important;
	border-collapse: collapse;
}

#tasksTable thead {
	color: #313131;
	font-size: 12px;
}

#tasksTable th{
    text-align: left;
}

#taskPool{
    width: 100%;
    clear: right;
	/*background-color: #0000FF;*/
	margin: 0;
	padding: 0;
}

#testControls{
    width: 100%;
	/*background-color: #00FF00;*/
	margin: 0;
	padding: 0;
}

.testControllers {
	padding: 10px 10px 10px 10px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

#panel {
	width: 20%;
	min-height: 130px;
	float: left;
	text-align: left;
	padding-top: 50px;
}

.container {
	float: right;
	width: 80%;
}

input.long{
    width: 40% !important;
}

#full {
	width: 100%;
	position: relative; 
}

#horizontal-line {
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50px;
	left: 0px;
	background-color: #ededed;
	display: block;
}

.testControllers img{
    position: relative;
    top: 8px;
}