@charset "UTF-8";
/* CSS Document */

*  {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #f7f7f7;
}

#header, #header-user {
	width: 100%;
	min-width: 960px;
	height: 70px;
	max-height: 70px;
	background: transparent url('../images/design/header-background.png') top left repeat-x;
	border-bottom: thin solid #dadada;
	overflow: hidden;
}

#header-user {
	height: 180px;
	max-height: 180px;
} 

#header-content {
	position: relative;
	width: 960px;
	margin: 0 auto 0 auto;
}

h1 {
	max-height: 70px;
	height: 70px;
	line-height: 70px;
	position: relative;
	font-size: 20px;
}

/*
h1 span {
	position: absolute;
	top: 0;
	left: 0;
	width: ;
	height: 70px;
	background: transparent url('.....') top left no-repeat;
}
*/

#navigation {
	width: 960px;
	margin: 0 auto 0 auto;
	font-size: 0;
}

#navigation li {
	list-style: none;
	font-size: medium;
	display: inline;
}

#navigation li a {
	width: 192px;
	display: inline-block;
	color: #b3b3b3;
	text-align: center;
	text-decoration: none;
	padding: 10px 0 15px 0;
}

#navigation li a img {
	margin-bottom: 10px;
}

#navigation li:hover a {
	color: #313131;
}

#subnavigation {
	margin: 30px auto 10px auto;
	font-size: 0px;
	text-align: center;
}

#subnavigation li {
	display: inline-block; 
	margin: 0 15px 0 15px; 
}

#subnavigation li a {
	background-color: #ff1727;
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
	padding: 4px 10px 4px 10px;
	color: #FFFFFF; 
	font-size: 12px; 
	text-decoration: none;
	font-weight: bold;
}

#subnavigation li a:hover {
	background-color: #1672fd;
}

#main {
	width: 960px;
	margin: 20px auto 0 auto;
}

/**
custom styles
*/
.clear{
    clear: both;
}

#invite-form {
	width: 640px;
	margin: 0 auto 0 auto;
	padding: 30px; /*40px 30px 40px;*/
	background-color: #FFFFFF;
	border: thin #DDD solid;
}

h2 {
	color: #ff1727;
	/*border-left: 4px solid #ff1727;
	text-indent: 10px;*/
	padding: 3px 0 3px 0;
}

p, form label {
	margin: 10px 0 10px 0;
	line-height: 22px;
	font-size: 14px;
	color: #666;
}

p strong {
	color: #313131;
}

form label {
	text-transform: uppercase;
}

#Invitations_email, #LoginForm_username, #LoginForm_password, #Users_full_name, #Users_email, #Users_username, #Users_new_password, #Users_new_password2 {
	background-color: #FFFFFF;
	border: thin #cecece solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
	width: 200px;
}

.submit input {
	margin: 20px 0 0 0;
}

.form, #info {
	padding: 30px;
	background-color: #FFFFFF;
	border: thin #DDD solid;
	margin-bottom: 20px;
}

#info {
	width: 550px;
	float: right;
}

.login {
	width: 250px;
	display: inline-block;
	float: left;
}

.note, .errorMessage {
	font-size: small;
}

#footer {
	width: 100%;
	margin-top: 20px;
    padding: 10px 0;
    font-size: 75%;
    text-align: center;
    border-top: solid silver thin;
}

#logout {
	position: absolute;
	top: 0;
	right: 0;
	font-size: medium;
	line-height: 70px;
}
